<% if message.present? %>
  <div class="<%= flash_class(type) %>">
    <div class="flex">
      <div class="flex-shrink-0">
        <%= flash_icon(type) %>
      </div>
      <div class="ml-3">
        <p class="text-sm font-medium <%= flash_text_color(type) %>">
          <%= message %>
        </p>
      </div>
      <div class="ml-auto pl-3">
        <div class="-mx-1.5 -my-1.5">
          <button type="button" class="inline-flex rounded-md p-1.5 <%= flash_text_color(type) %> hover:bg-<%= flash_bg_hover_color(type) %> focus:outline-none focus:ring-2 focus:ring-<%= flash_ring_color(type) %> focus:ring-offset-2">
            <span class="sr-only">Закрыть</span>
            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>
